.slider {
    font-size: 12px;
}

.slider .exterior {
    background-color: rgba(51,51,51,.6);
    border: solid 1px white;
    width: 500px;
    height: 20px;
    display: table;
}

.slider .slide {
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.slider .bar {
    position: relative;
}

.slider .bar {
    width: 20px;
    height: 100%;
    background: white;
}

.slider .cell {
    vertical-align: middle;
    text-align: center;
    color: white;
    display: table-cell;
}

.slider .play {
    width: 50px;
    padding: 2px;
    cursor: pointer;
}

.slider .step {
    width: 75px;
    padding: 2px;
}