.popup {
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: rgba(51,51,51,.6);
    border: solid 1px rgb(0,0,0);
}

.popup .head {
    font-size: 12px;
    border-bottom: solid 1px rgb(0,0,0);
    padding: 0px 10px 5px 10px;
}

.popup .value {
    font-size: 12px;
    padding: 5px 10px 0px 10px;
}