--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h1 WiggleMaps
  h3 Dynamic, interactive maps for the web
  p: :markdown
    A Javascript API for building dynamic and 
    interactive geovisualizations in the web browser with WebGL.
    WiggleMaps layers can be fully styled at runtime to allow rich interactivity. 
    WiggleMaps brings 
    multiple geographic data types to the web,  through portable Shapefile and GeoJSON readers,
    allowing developers 
    flexibility when deploying geodata in their applications.

// Example row of columns.
.row
  .span6
    h2 Examples
    p Live WiggleMaps examples, including base layers, rasters, lines, shapefiles, time sliders, and dynamic interactions.</p>
    p: a.btn(href="http://54.235.153.252/wigglemaps/") Examples
  .span6
    h2 dotSkapes Virtual Lab (dVL)
    p The dVL is a laboratory for collaborative science. The project includes WiggleMaps, a hosted workbench (dotLab), and dynamic dashboards (dotBench).</p>
    p: a.btn(href="http://dotskapes.org") dVL Website
