doctype 5
html(lang="en")
  head
    title= "WiggleMaps Demos"
    link(rel="stylesheet", href="css/style.css")
    script(type="text/javascript", src="../lib/jquery.min.js")
    script(type="text/javascript", src="../lib/underscore.min.js")
    script(type="text/javascript", src="../lib/backbone.min.js")
    script(type="text/javascript", src="../wigglemaps.js")
    script(type="text/javascript", src="js/app.js")
  body
    #title= "WiggleMaps"
    #container
      #examples
      #main
        #map-box
          #map
